MONGO_URI= # e.g. mongodb://localhost:27017/museum
JWT_SECRET= # random string: e.g. XlQUZIJYbSgL8K0xeS%pBq9m
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
SMTP_HOST= # e.g. mail.example.com
SMTP_PORT= # 587
EMAIL_USERNAME= # e.g. example@example.com
EMAIL_PASSWORD=
HOME_URL= # e.g. http://localhost:3000
GITHUB_CLIENT_ID= # Client id for GitHub OAuth app
GITHUB_CLIENT_SECRET= # Client secret for GitHub OAuth app
MODERATECONTENT_API_KEY= # API key from https://moderatecontent.com
